# 29/10/2025
# maketrans & translate

In [2]:
intab = "aeiou"
outtab = "12345"
my = "this is a string function!"
transtab = my.maketrans(intab,outtab)
print(transtab)
print(my.translate(transtab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
th3s 3s 1 str3ng f5nct34n!

# REMOVING PUNCTUATION

In [3]:
import string

In [4]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
mystring = "!hi wha?t is t[h]e we?ather li$ke"
newstring = mystring.translate(str.maketrans("","",string.punctuation))
print(newstring)

hi what is the weather like

In [6]:
mystring = "!hi wha?t is t[h]e we?ather li$ke"
newstring = mystring.translate(str.maketrans("a","Z",string.punctuation))
print(newstring)

hi whZt is the weZther like

In [9]:
a = newstring.maketrans("a","Z",string.punctuation)
print(a)

{97: 90, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

# tuple
- an immutable , ordered sequence which supports indexing,slicing & iterating

In [10]:
t = ()
type(t)

tuple

In [11]:
t = (1,2)
type(t)

tuple

In [12]:
a = (1,2,3)
b = (4,5,6)
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

In [13]:
a = (1,2,3)
b = (4,5,6,7)
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

# tuple packing

In [14]:
a = 1,2,3,4
a

(1, 2, 3, 4)

# tuple unpacking

In [15]:
a,b,c,d = a
a,b,c,d
b
print(a,b,c,d)

1 2 3 4

# type conversion

In [16]:
a = [1,2,3,4]
print(a)
b = tuple(a)
print(b)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [18]:
a = tuple("python")
print(a)

('p', 'y', 't', 'h', 'o', 'n')

In [19]:
a,b,*c = 1,2,3,4,5 # A WILL take 1 , b will take 2  & *c will take 3,4,5 as a list

In [21]:
print(a,b,c)

1 2 [3, 4, 5]

# indexing & slicing

In [22]:
t = (4,5,6,7,8,9)
t[-1]

9

In [23]:
t[-1:-5:-1]

(9, 8, 7, 6)

# + and -

In [25]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [26]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [28]:
t1*t2 #can't multiply sequence by non-int of type 'tuple'

TypeError: can't multiply sequence by non-int of type 'tuple'

# membership operator

In [29]:
t =(7,8,9)
7 in t

True

In [30]:
6 in t

False

In [31]:
6 not in t

True

# iteration

In [32]:
for i in t:
    print(i)

7
8
9

In [33]:
for i, j in enumerate(t):
    print(i,j)

0 7
1 8
2 9

In [34]:
for i in enumerate(t):
    print(i)

(0, 7)
(1, 8)
(2, 9)

# universal method:

In [35]:
t = (4,6,2,7,9,3)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse = True))

6
2
9
[2, 3, 4, 6, 7, 9]
[9, 7, 6, 4, 3, 2]

In [36]:
print(sum(t))

31

# tuple method

# 1)count

In [37]:
t = (1,2,3,3,3,5,6,7)
t.count(3)

3

In [38]:
t = (1,2,3,3,3,5,6,7)
t.count(3,3)

TypeError: count() takes exactly one argument (2 given)

In [39]:
t = (1,2,3,3,3,5,6,7)
t.count(100)

0

# 2)index

In [50]:
t = (4,5,6,7,6)

In [53]:
t.index(6,3,1000)

4

# comparison

In [54]:
(1,2,3)==(1,2,3,4)

False

In [55]:
(1,2,3,4) == (1,2,3,4)

True

In [56]:
(1,2,3,4)<(1,2,3,4)

False

In [57]:
(1,2,3,4)>(1,2,3,4)

False

In [58]:
(1,2,3,4)>(1,2,3,4,5)

False

In [61]:
(1,2,3,4)>(1,1,5,4)

True

In [63]:
(1,2,"a") > (1,2,"A")

True

# Generator

In [65]:
t = (1,2,3,4,5)
new = tuple(x*2 for x in t) #multiplication
print(new)

(2, 4, 6, 8, 10)

In [66]:
t = (1,2,3,4,5)
new = tuple(x**2 for x in t)#square
print(new)

(1, 4, 9, 16, 25)

# zip tuples

In [67]:
t1 = (1,2,3)
t2 = (4,5,6)
new = tuple(x+y for x,y in zip(t1,t2))
print(new)

(5, 7, 9)

In [74]:
t = (4,5,1,3,8,7,9)
# reversed(t)

In [75]:
tuple(reversed(t))

(9, 7, 8, 3, 1, 5, 4)

In [76]:
list(reversed(t))

[9, 7, 8, 3, 1, 5, 4]

In [77]:
t = (1,2,3)
del t[0] #'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

### 1) WAP to create a fun named length to find length of the stirng without using len method

In [78]:
def length():
    count = 0
    for i in s:
        count+=1
    print("legth: ",count)
s = input("enter string: ")
length()

enter string: dhruvi
legth:  6

### 2) WAP to swap the cases of the strig without using swapcase method
  #### input: -mR , eD
  #### o/p: Mr,Ed

In [85]:
old = input("enter any string :")
new=""
for i in old:
    if i.islower():
        new = new + i.upper()
    elif i.isupper:
        new = new + i.lower()
    else: 
        new+=1
print(new)

enter any string :DhruVi
dHRUvI

### wap to extract the username from the email address ................
- i/p : abc@gmail.com
- o/p : abc

In [90]:
email = input("enter an email : ")
email.split("@")[0]

enter an email : anc@gmail.com

'anc'

In [95]:
email = input("enter an email : ")
pos = email.index("@")
email[:pos]

enter an email : asd@gmail.com

'asd'

### WAP to count the frequence of the character in a given string 
- i/p : www.google.com
-search for - w
- o/p : 3

In [102]:
s = input("enter a string : ")
search = input("what do you want to search : ")
count=0
for i in s:
    if i == search:
        count+=1
print(count)

enter a string : www.google.com
what do you want to search : o
3